:root{
    --azuloscuro: rgb(10, 4, 60);
    --azulclaro: rgb(8, 58, 169);
    --verde : rgb(3, 80, 111);
    --verdeclaro : rgb(163, 221, 203);
    --complementario: rgb(255, 227, 222);
    --verdeoscuro: rgb(24, 176, 125);
}

*{
    margin: 0;
    font-family: Silkscreen;
    color: white;
}
button{
    color: black;
}
@font-face {
    font-family: 'Silkscreen';
    src: url('./Silkscreen-Regular.ttf');
}
h1{
    text-align: center;
    font-size: 50px;
    background-color: var(--azulclaro);
    color: white;
    height: 100px;
    align-items: center;
}
body{
    min-height: 100vh;
    background-color: var(--azuloscuro);
}
.mascotas {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    min-height: 45vh;
    margin-top: 30px;
}

.mascotas > div > label{
    background-color: var(--azulclaro);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-width: 200px;
    border-radius: 20%;
    padding: 25px;
    text-align: center;
    font-size: 30px;
}
.mascotas > div > label > img {
    width: 270px;
}
.mascotas > div > input{
    visibility: hidden;
}
#selectMascota > h2{
    height: 50px;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 50px;
    color: white;
}
#mascotasseleccionables > div > label:hover {
    cursor: pointer;
}
button{
    background-color: var(--verdeclaro);
    padding: 15px;
    border: none;
    border-radius: 25%;
    margin: 10px;
    user-select: none;
}
button:hover {
    background-color: var(--verdeoscuro);
    animation: seleccionado .5s forwards;
    cursor:pointer;
}
.mascotas > div > input:checked+label{
    background-color: var(--verdeoscuro);
    animation: seleccionado 1s forwards;
}
.containerboton{
    display: flex;
    flex-direction: row-reverse;
    width: 85%;
    margin-top: 100px;
}
#Fuego{
    background-color: orange;
    color: white;
}
#Tierra{
    background-color: brown;
    color: white;
}
#Agua{
    background-color: aqua;
}
button:disabled{
    opacity: .6;
}
strong{
    font-size: 30px;
    margin: 50px;
    color: orange;
}
#Stats{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
#Stats div{
    padding: 45px;
    border-radius:  0 15% 0 15%;
}
#Stats div img {
    width: 350px;
}
#StatsPlayer{
    background-color: var(--azulclaro);
}
#StatsEnemy{
    background-color: rgb(159, 21, 21);
}
#vidasEnemigo, #vidas{
    display: flex;
    margin-top: 15px;
    justify-content: start;
    height: 45px;
}

#ataques{
    background-color: var(--verde);
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 0 0 35% 35%;
}
#ataques h2{
    margin-bottom: 30px;
}
#jugar{
    height: 150px;
    text-align: center;
    margin: 20px 0 20px 0;
}
.ganador{
    background-color: orange;
}
.perdedor{
    background-color: rgb(159, 21, 21);
}
.empate{
    background-color: var(--azulclaro);
}
.MensajeResul{
    background-color: var(--verde);
}
#resultados{
    display: grid;
    grid-template-columns: auto 25% auto;
    width: 50%;
    margin: 20px 0 35px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
}
#verMapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mapa{
    margin-top: 35px;
    border: 2px solid white;
}
#combate{
    background-color: orange;
    border-radius:  0 25% 0 25%;
    font-size: 30px;
}
@media (max-width : 1000px) {
    .mascotas {
        flex-direction: column;
        margin-top: 30px;
    }
    .mascotas > div >  label {
        margin: 50px 0 50px 0;
    }

    #resultados{
        width: 100%;
    }
}
@media (max-width : 875px) {
    #Stats{
        display: flex;
        flex-direction: column-reverse;
    }
    #Stats div{
        margin: 50px 0 50px 0;
        align-items: center;
    }
}
@media (max-width : 550px) {
    #resultados{
        grid-template-columns: auto auto auto;
    }
    #Stats div img {
        width: 200px;
    }

}
@keyframes seleccionado {
    from {
        transform: scale(1,1);
    }
    to {
        transform: scale(1.2,1.2);
    }
}